<div class="header">
  <a href="/">
    <img src="/images/LibLogo.png" alt="Library Logo" class="logo-img"
  /></a>
  <div class="search-container">
    <input type="text" class="search-input" placeholder="Search..." />
    <button class="search-button">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>
