<div class="sidebar">
  <ul>
    <li>
      <a href="/"><i class="bi bi-house-heart-fill"></i>&nbsp; Home</a>
    </li>
    <li>
      <a href="/wishlist"><i class="bi bi-star-fill"></i>&nbsp; Wishlist</a>
    </li>
    <li>
      <a href="/reservations"
        ><i class="bi bi-file-plus-fill"></i>&nbsp; Reservations</a
      >
    </li>
    <li>
      <a href="/checkedout"
        ><i class="bi bi-arrow-bar-left"></i>&nbsp; Checked out</a
      >
    </li>
    <li>
      <a href="/account"><i class="bi bi-gear-fill"></i>&nbsp; Account</a>
    </li>
    <li>
      <a href="/login"><i class="bi bi-door-open-fill"></i>&nbsp; Log out</a>
    </li>
  </ul>
</div>
<script>
  function logOut() {
    window.location.href("/login");
  }
</script>
