<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Box</title>
  <style>
    /* Basic styling for the page and login box */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
      background: url("/images/Background.jpg") no-repeat center center fixed;
      background-size: cover;
    }

    .login-box {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      width: 500px;
      text-align: center;
    }
    .logo-img {
    width: 200px; /* Adjust size as needed */
    margin-bottom: 20px;
    }
    .login-box h2 {
      margin-bottom: 20px;
      color: #333;
    }

    .login-box input[type="text"],
    .login-box input[type="date"],
    .login-box input[type="email"],
    .login-box input[type="submit"],
    .login-box input[type="number"],
    .login-box input[type="password"] {
      width: 80%;
      padding: 7px;
      margin: 10px 0;
      border: 1px solid #ddd;
      border-radius: 4px;
    }

    .login-box input[type="submit"] {
      width: 30%;
      padding: 10px;
      background-color: #A52A2A;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .login-box input[type="submit"]:hover { 
      background-color: #A52A2A;
    }
  </style>
</head>
<body>

  <div class="login-box">
    <img src="/images/LibLogo.png" alt="Library Logo" class="logo-img" />
    <p>Create an Account</p>
    <form action="/signUp" method="POST">
      <input type="text" id="fullnameBox" name="name" placeholder="Full Name" required>
      <input type="email" id= "emailBox" name="email" placeholder="Email Address" required>
      <input type="text" id="usernameBox" name="username" placeholder="Username" required>
      <input type="password" id="passwordBox" name="psw" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
      <input type="password" id="confirmBox" name="confirm" placeholder="Confirm Password" required>
      <input type="date" id="dobBox" name="DOB" placeholder="Date of Birth" required>
      <input type="number" id="numberBox" name="number" placeholder="Number" required>
      <input type="submit" value="Sign up now">
    </form>
  </div>
</body>
</html>