<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <%- include('./partials/header'); %>
    <h1 class="header-title">Wishlist</h1>

    <div class="container">
      <%- include('./partials/sidebar'); %>
      <div class="main-content"></div>
    </div>
  </body>
</html>
